html {
    box-sizing: border-box;
    background-size: 2rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body > div {
    float: left;
}

body> aside{
    float: left;
}
.container {
    /* background-color: rgb(255, 255, 255); */
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid rgb(109, 109, 109);
    position: relative;
    right: 2%;
    height: 100vh;

}

.container li {
    margin: 80px;
    transform: rotateZ(-90deg);
    text-decoration: none;
    list-style: none;
    top: 1%;
    color: rgb(0, 0, 39);
}

.container img {
    position: relative;
    left: 30%;
}

.container li:hover{
    cursor: pointer;
    text-decoration: underline rgb(152, 0, 253);
}
.main{
    background-image:url(imagenes/Main_Picture.png) ;
    background-size: 100% 100vh;
    width: 55%;
    height: 100vh;
}

.main .title{
    background:rgb(201, 141, 141);
    opacity: 0.8;
    width: 50%;
    height: 10%;
    margin: 15% 20%;/*150px 100px;*/
}
.main .titulo{
    font-size: 3rem;
    /* margin: 22px 100px; */
    /* margin-bottom: 0; */
    color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center;*/
    opacity: 1;
    position: relative;
    top: -25%;
    left: -8%;
}

.main .subtitle{
    /* margin: 20px 150px;  */
    color: white;
    position: relative;
    right: -45%;
    bottom: 70%;
    font-style: italic;

}
.main .redes{
    position: relative;
    top: 50%;
    left: -70%;
} 

.main .redes > img {
    margin-left: 5%;
}

.main  .redes{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.main .pie{
    position: relative;
    color: whitesmoke;
    right: -80%;
    margin-top: 42%;
    color: rgb(72, 72, 75);
}


aside{
    width: 30%;
    height: 100vh;
}

aside .info .raya {

    border-top: 1px solid rgb(109, 109, 109);
    height: 1%;
    color: rgb(163, 163, 163);
}

aside .info section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4.5%;
}



