html {
    box-sizing: border-box;
    background-size: 2rem;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body > div {
    float: left;
}

body> aside{
    float: left;
}
.container {
    /* background-color: rgb(255, 255, 255); */
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid rgb(109, 109, 109);
    position: relative;
    right: 50px;
    height: 100vh;

}

.container li {
    margin: 80px;
    transform: rotateZ(-90deg);
    text-decoration: none;
    list-style: none;
    top: 50px;
    color: rgb(0, 0, 39);
}

.container img {
    position: relative;
    left: 50px;
}

.container li:hover{
    cursor: pointer;
    text-decoration: underline rgb(152, 0, 253);
}
.main{
    background-image:url(imagenes/Main_Picture.png) ;
    background-size: 700px 100vh;
    width: 700px;
    height: 100vh;
}

.main .title{
    background:rgb(201, 141, 141);
    opacity: 0.8;
    width: 450px;
    height: 70px;
    margin: 150px 100px;
}
.main .titulo{
    font-size: 4rem;
    /* margin: 22px 100px; */
    /* margin-bottom: 0; */
    color: rgb(255, 255, 255);
    /* display: flex;
    justify-content: center;*/
    opacity: 1;
    position: relative;
    top: -40px;
    left: -30px;
}

.main .subtitle{
    /* margin: 20px 150px;  */
    color: white;
    position: relative;
    right: -250px;
    bottom: 100px;
    font-style: italic;

}
.main .redes{
    position: relative;
    top: 260px;
    left: -500px;
} 

.main .redes > img {
    margin-left: 25px;
}

.main  .redes{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.main .pie{
    position: relative;
    top: 200px;
    color: whitesmoke;
    right: -580px;
    color: rgb(72, 72, 75);
}


aside{
    width: 380px;
    height: 100vh;
}

aside .info .raya {

    border-top: 1px solid rgb(109, 109, 109);
    height: 2px;
    color: rgb(163, 163, 163);
}

aside .info section{
    margin: 50px;
}



